---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Issho Software">
  <main class="container">
    <section id="hero">
      <div class="hook">
        <h1>Issho Software: Comprehensive Digital Solutions</h1>
        <p>
          Issho Software specializes in building full stack web and mobile
          applications. With expertise in both frontend and backend development,
          we utilize advanced technologies such as NestJS, Angular, and Ionic to
          bring your ideas to life.
        </p>
        <p><strong>Hourly Rate: €250</strong></p>
        <div class="call-to-action">
          <a role="button" href="/contact">Get In Touch</a>
        </div>
      </div>
    </section>

    <section>
      <div class="grid">
        <article>
          <h3>Frontend Development</h3>
          <p>
            Utilizing Angular and Ionic, we create responsive and interactive
            user interfaces that perform seamlessly across all devices.
          </p>
        </article>
        <article>
          <h3>Backend Development</h3>
          <p>
            With NestJS, we develop robust and scalable server-side
            applications, ensuring your application operates reliably and
            efficiently.
          </p>
        </article>
        <article>
          <h3>Complete Tech Solutions</h3>
          <p>
            Our full stack expertise ensures the development of complete and
            integrated solutions, from the database to the user interface.
          </p>
        </article>
      </div>
    </section>
  </main>

  <style>
    main {
      display: flex;
      flex-direction: column;
      gap: 5rem;
    }

    article {
      text-align: center;
    }

    #hero {
      display: flex;
    }

    .hook {
      margin: auto;
      margin-top: 5rem;
      max-width: 700px;
      text-align: center;
    }

    .call-to-action {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      justify-content: center;
    }
  </style>
</MainLayout>
