---

---

<footer class="container">
  <p>&copy; 2024 Issho Software | All Rights Reserved</p>
  <p>Issho Software - Experts in Frontend and Backend Development</p>
</footer>

<style>
  footer {
    display: grid;
    text-align: center;
    padding: 2rem;
  }

  footer a {
    color: inherit;
    text-decoration: underline;
  }
</style>
