<a href="/">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 180.36 36"
    width="180.36"
    height="36"
    ><g
      fill="#ff5576"
      color="#ff5576"
      transform="translate(0 4.583333333333332) scale(0.5833334)"
      ><svg width="48.0" height="46.0" x="0.0" y="0.0" viewBox="0 0 48 46"
        ><path
          fill="currentColor"
          fill-rule="evenodd"
          d="M17.265 0L0 9.915v19.834l17.265 9.916 9.094-5.223 6.159 10.642L48 18.326H34.53V9.915L17.265 0zm4.969 21.326h20.563l-10.28 17.77-10.283-17.77z"
        ></path></svg
      ></g
    ><path
      fill="currentColor"
      fill-rule="nonzero"
      d="M0 0.29L1.78 0.29L1.78 15.48L0 15.48L0 0.29ZM12.05 5.33L11.52 6.22Q10.32 5.59 8.90 5.59L8.90 5.59Q7.94 5.59 7.40 6.01Q6.86 6.43 6.86 7.15L6.86 7.15Q6.86 7.92 7.36 8.34Q7.85 8.76 9.24 9.17L9.24 9.17Q11.21 9.77 11.98 10.51Q12.74 11.26 12.74 12.60L12.74 12.60Q12.74 14.02 11.68 14.89Q10.61 15.77 8.93 15.77L8.93 15.77Q6.72 15.77 5.09 14.57L5.09 14.57Q5.16 14.45 5.33 14.16L5.33 14.16Q5.50 13.85 5.62 13.68L5.62 13.68Q7.01 14.45 8.62 14.45L8.62 14.45Q11.14 14.45 11.14 12.55L11.14 12.55Q11.14 11.78 10.60 11.35Q10.06 10.92 8.59 10.54L8.59 10.54Q5.18 9.58 5.18 7.20L5.18 7.20Q5.18 5.93 6.18 5.11Q7.18 4.30 8.74 4.30L8.74 4.30Q10.58 4.30 12.05 5.33L12.05 5.33ZM21.77 5.33L21.24 6.22Q20.04 5.59 18.62 5.59L18.62 5.59Q17.66 5.59 17.12 6.01Q16.58 6.43 16.58 7.15L16.58 7.15Q16.58 7.92 17.08 8.34Q17.57 8.76 18.96 9.17L18.96 9.17Q20.93 9.77 21.70 10.51Q22.46 11.26 22.46 12.60L22.46 12.60Q22.46 14.02 21.40 14.89Q20.33 15.77 18.65 15.77L18.65 15.77Q16.44 15.77 14.81 14.57L14.81 14.57Q14.88 14.45 15.05 14.16L15.05 14.16Q15.22 13.85 15.34 13.68L15.34 13.68Q16.73 14.45 18.34 14.45L18.34 14.45Q20.86 14.45 20.86 12.55L20.86 12.55Q20.86 11.78 20.32 11.35Q19.78 10.92 18.31 10.54L18.31 10.54Q14.90 9.58 14.90 7.20L14.90 7.20Q14.90 5.93 15.90 5.11Q16.90 4.30 18.46 4.30L18.46 4.30Q20.30 4.30 21.77 5.33L21.77 5.33ZM34.66 8.98L34.66 15.48L33.07 15.48L33.07 9.10Q33.07 5.69 30.05 5.69L30.05 5.69Q29.23 5.69 28.37 6.11Q27.50 6.53 27.10 7.13L27.10 7.13L27.10 15.48L25.49 15.48L25.49 0.84L27.10 0L27.10 5.74Q28.58 4.30 30.55 4.30L30.55 4.30Q34.66 4.30 34.66 8.98L34.66 8.98ZM48.05 10.06L48.05 10.06Q48.05 12.65 46.42 14.30L46.42 14.30Q44.95 15.77 42.82 15.77L42.82 15.77Q40.34 15.77 38.83 13.90L38.83 13.90Q37.56 12.31 37.56 10.06L37.56 10.06Q37.56 7.42 39.14 5.78L39.14 5.78Q40.58 4.30 42.82 4.30L42.82 4.30Q45.34 4.30 46.82 6.19L46.82 6.19Q48.05 7.78 48.05 10.06ZM39.29 10.06L39.29 10.06Q39.29 12.14 40.37 13.37L40.37 13.37Q41.33 14.45 42.79 14.45L42.79 14.45Q44.38 14.45 45.35 13.24Q46.32 12.02 46.32 10.06L46.32 10.06Q46.32 7.99 45.26 6.74L45.26 6.74Q44.30 5.59 42.82 5.59L42.82 5.59Q41.23 5.59 40.26 6.83Q39.29 8.06 39.29 10.06ZM56.18 14.23L56.18 14.23L56.95 13.15Q58.70 14.16 60.67 14.16L60.67 14.16Q62.18 14.16 63.05 13.45Q63.91 12.74 63.91 11.45L63.91 11.45Q63.91 9.24 61.01 8.23L61.01 8.23Q58.54 7.39 57.43 6.36Q56.33 5.33 56.33 3.84L56.33 3.84Q56.33 2.06 57.72 0.98L57.72 0.98Q58.99 0 61.06 0L61.06 0Q63.31 0 65.16 1.25L65.16 1.25L64.37 2.33Q62.88 1.54 61.18 1.54L61.18 1.54Q59.78 1.54 58.97 2.14Q58.15 2.74 58.15 3.77L58.15 3.77Q58.15 5.38 60.65 6.31L60.65 6.31Q63.48 7.39 64.62 8.53Q65.76 9.67 65.76 11.50L65.76 11.50Q65.76 13.58 64.15 14.78L64.15 14.78Q62.83 15.77 60.94 15.77L60.94 15.77Q58.56 15.77 56.18 14.23ZM78.74 10.06L78.74 10.06Q78.74 12.65 77.11 14.30L77.11 14.30Q75.65 15.77 73.51 15.77L73.51 15.77Q71.04 15.77 69.53 13.90L69.53 13.90Q68.26 12.31 68.26 10.06L68.26 10.06Q68.26 7.42 69.84 5.78L69.84 5.78Q71.28 4.30 73.51 4.30L73.51 4.30Q76.03 4.30 77.52 6.19L77.52 6.19Q78.74 7.78 78.74 10.06ZM69.98 10.06L69.98 10.06Q69.98 12.14 71.06 13.37L71.06 13.37Q72.02 14.45 73.49 14.45L73.49 14.45Q75.07 14.45 76.04 13.24Q77.02 12.02 77.02 10.06L77.02 10.06Q77.02 7.99 75.96 6.74L75.96 6.74Q75 5.59 73.51 5.59L73.51 5.59Q71.93 5.59 70.96 6.83Q69.98 8.06 69.98 10.06ZM80.90 5.88L80.90 4.58L82.46 4.58L82.46 3Q82.46 1.58 83.16 0.79Q83.86 0 85.13 0L85.13 0Q86.42 0 87.60 0.82L87.60 0.82L87.02 1.70Q86.23 1.30 85.46 1.30L85.46 1.30Q84.05 1.30 84.05 3.07L84.05 3.07L84.05 4.58L86.78 4.58L86.78 5.88L84.05 5.88L84.05 15.48L82.46 15.48L82.46 5.88L80.90 5.88ZM95.57 5.90L92.23 5.90L92.21 12.72Q92.21 14.47 93.62 14.47L93.62 14.47Q94.42 14.47 95.18 14.06L95.18 14.06L95.76 14.95Q94.58 15.77 93.29 15.77L93.29 15.77Q92.02 15.77 91.32 14.98Q90.62 14.18 90.62 12.77L90.62 12.77L90.62 5.90L88.97 5.90L88.97 4.58L90.65 4.58L90.65 2.21L92.23 1.39L92.23 4.58L95.57 4.58L95.57 5.90ZM105.12 6.53L102.46 15.48L100.73 15.48L97.13 4.58L98.86 4.58L101.59 13.61L104.21 4.58L106.06 4.58L108.55 13.61L111.29 4.58L113.02 4.58L109.39 15.48L107.66 15.48L105.12 6.53ZM123.00 8.86L123.00 15.48L121.80 15.48L121.56 14.30Q120.10 15.77 117.91 15.77L117.91 15.77Q116.26 15.77 115.27 14.84Q114.29 13.92 114.29 12.38L114.29 12.38Q114.29 8.64 119.76 8.64L119.76 8.64L121.42 8.64L121.42 8.50Q121.42 5.64 118.63 5.64L118.63 5.64Q117.05 5.64 115.58 6.70L115.58 6.70L115.06 5.81Q116.71 4.30 119.09 4.30L119.09 4.30Q120.98 4.30 121.99 5.47Q123.00 6.65 123.00 8.86L123.00 8.86ZM121.42 12.77L121.42 9.82L119.95 9.82Q116.02 9.82 116.02 12.24L116.02 12.24Q116.02 13.27 116.63 13.86Q117.24 14.45 118.34 14.45L118.34 14.45Q119.30 14.45 120.19 13.97Q121.08 13.49 121.42 12.77L121.42 12.77ZM133.80 5.52L133.80 5.52L132.48 6.43Q131.66 5.71 130.73 5.71L130.73 5.71Q129.36 5.71 128.30 7.13L128.30 7.13L128.30 15.48L126.70 15.48L126.70 4.58L128.06 4.58L128.21 5.74L128.26 5.74Q129.67 4.30 131.16 4.30L131.16 4.30Q132.91 4.30 133.80 5.52ZM144.36 10.06L144.36 10.58L136.58 10.58Q136.68 12.34 137.80 13.39Q138.91 14.45 140.69 14.45L140.69 14.45Q142.18 14.45 143.59 13.56L143.59 13.56L144.14 14.52Q142.56 15.77 140.33 15.77L140.33 15.77Q137.74 15.77 136.20 14.06L136.20 14.06Q134.78 12.53 134.78 10.08L134.78 10.08Q134.78 7.54 136.30 5.83L136.30 5.83Q137.66 4.30 139.68 4.30L139.68 4.30Q142.10 4.30 143.38 6.26L143.38 6.26Q144.36 7.80 144.36 10.06L144.36 10.06ZM136.56 9.29L136.56 9.29L142.70 9.29Q142.63 7.54 141.85 6.55Q141.07 5.57 139.70 5.57L139.70 5.57Q138.41 5.57 137.53 6.60Q136.66 7.63 136.56 9.29Z"
      transform="translate(36, 10.26)"></path></svg
  >
</a>

<style>
  a {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
  }
</style>
